<style>
    .instagram{
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
</style>
<div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between mt-5 py-3 px-4 px-xl-5 bg-light">
    <div class="container d-flex justify-content-between align-items-center flex-row">
        <div class="text-black mb-3 mb-md-0" >
          G - Post 2023
        </div>
        <div>
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook mx-1" style="font-size: 1.75rem; color: black;"></i></a>
            <a href="https://twitter.com/?lang=uk" target="_blank"></a><i class="bi bi-twitter mx-1" style="font-size: 1.75rem; color: black;"></i></a>
            <a href="https://instagram.com/?lang=uk" target="_blank"></a><i class="bi bi-instagram mx-1" style="font-size: 1.75rem; color: black;"></i></a>
        </div>
    </div>
</div>